Repository jasontonk/SWEN2_1920, pull requests merged in 2020-06, with the labels that each got.

#2 3 feature siem van oirschot
  README.md
  assignments/Assignment-3.rtf
  feedback.rtf
Labels: assignment

#3 3 feature siem van oirschot
  README.md
  assignments/Assignment-3.rtf
  feedback.rtf
Labels: Status: Finished, assignment, to be reviewed

#1 2 feature matheus pires
  README.md
  assignments/assignment-2.rtf
  feedback.rtf
Labels: Status: Finished, assignment, review: accepted

#5 1 feature jason tonk
  README.md
  assignments/assignment-1.rtf
  feedback.rtf
Labels: Status: Finished, assignment, to be reviewed

#7 4 feature rutger willems
  README.md
  assignments/assignment-4.rtf
  feedback.rtf
Labels: Status: Finished, assignment, review: accepted

#6 1 feature azmat aizimaiti
  README.md
  assignments/assignment-1.rtf
  feedback.rtf
Labels: Status: in progress, assignment, review: declined
